.about {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.about__images {
  display: grid;
  gap: 40px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @include media-desktop {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.about__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

.about__img-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 660px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-size: 0;
  object-fit: cover;

  &_x {
    max-height: 590px;
  }

  &_y {
    max-height: 430px;

    @include media-desktop {
      display: none;
    }
  }

  @include media-tablet {
    max-width: unset;
  }
}

.about__img {
  @extend %transition;

  max-width: unset;

  @include media-hover {
    &:hover {
      transform: scale(0.91);
    }
  }
}
