.catalog {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);

  @include media-desktop {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-tablet-additional {
    grid-template-columns: repeat(1, 1fr);
  }
}

.catalog__item {
  display: flex;
  max-width: 310px;
  min-height: 506px;
  flex-direction: column;
  border: 1px solid $color-border-light;
  border-radius: 40px;
  cursor: pointer;
  transition:
    opacity 0.5s ease-in-out,
    visibility 0.5s ease-in-out;

  &_hidden {
    position: absolute;
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
  }
}

.catalog__img-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  aspect-ratio: 1 / 1;
}

.catalog__img {
  width: 340px;
  max-width: 110%;
  height: 340px;
  object-fit: cover;

  @extend %transition;

  @include media-hover {
    .catalog__item:hover & {
      transform: scale(0.91);
    }
  }
}

.catalog__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  row-gap: 12px;
}

.catalog__price {
  display: block;
  margin-top: auto;
}

.menu__btn {
  display: none;

  @include media-tablet {
    &_active {
      display: flex;
    }
  }
}
