.catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  @include media-desktop {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media-tablet-additional {
    grid-template-columns: repeat(1, 1fr);
  }
}

.catalog__item {
  max-width: 310px;
  min-height: 506px;
  display: flex;
  flex-direction: column;

  border-radius: 40px;
  border: 1px solid $color-border-light;
  cursor: pointer;
}

.catalog__img-container {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  overflow: hidden;
}

.catalog__img {
  width: 340px;
  max-width: 110%;
  height: 340px;
  object-fit: cover;
  @extend %transition;

  @include media-hover {
    .catalog__item:hover & {
      transform: scale(0.91);
    }
  }
}

.catalog__content {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.catalog__price {
  display: block;
  margin-top: auto;
}