.enjoy {
  padding: 100px;
  background: center no-repeat url("../img/enjoy.jpg");
  border-radius: 40px;
  background-size: cover;
  @include media-laptop {
    padding: 100px 60px;
  }
  @include media-tablet-additional {
    padding: 60px 16px;
  }
}

.enjoy__content {
  max-width: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.enjoy__text {
  color: $color-text-light;
}
