.enjoy {
  position: relative;
}

.enjoy__video {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  object-fit: cover;
}

.enjoy__container {
  position: relative;
  z-index: 10;
  padding: 100px;

  @include media-laptop {
    padding: 100px 60px;
  }

  @include media-tablet-additional {
    padding: 60px 16px;
  }
}

.enjoy__content {
  display: flex;
  max-width: 530px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}

.enjoy__text {
  color: $color-text-light;
}
