.enjoy {
  padding: 100px;
  background: center no-repeat url("../img/enjoy.jpg");
  border-radius: 40px;
  background-size: cover;
}

.enjoy__content {
  width: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.enjoy__text {
  color: $color-text-light;
}