.favorite {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.favorite__title {
  text-align: center;
}

.slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include media-tablet-additional {
    justify-content: center;
  }
}

.slider__btn {
  &_right {
    transform: rotate(180deg);
  }

  @include media-tablet-additional {
    display: none;
  }
}

.slider_container {
  max-width: 480px;
  overflow: hidden;
  @include media-tablet-additional {
    width: 100%;
  }
}

.slider_list {
  width: 100%;
  display: flex;
  @extend %transition;
}

.slider__item {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px;
  user-select: none;
  @include media-tablet-additional {
    gap: 20px;
  }
}

.slider__content {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
}

.pagination__bar {
  position: relative;
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background-color: $color-border-light;
}

.pagination__progress {
  position: absolute;
  left: 0;
  border-radius: 100px;
  width: 0%;
  height: 4px;
  background-color: $color-border-dark;
  transition: all .6s ease;
}