.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

.menu__title {
  max-width: 800px;
  text-align: center;
}

.menu__tabs {
  display: flex;
  column-gap: 16px;
  @include media-mobile {
    column-gap: 8px;
  }
}