.mobile {
  display: grid;
  grid-gap: 100px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.mobile__content {
  align-self: center;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.mobile__buttons {
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
  & > * {
    padding: 0 20px;
    justify-content: flex-start;
  }
}

.mobile__img {
  width: 630px;
  height: 630px;
}