.mobile {
  display: flex;
  align-items: center;
  gap: 100px;
  @include media-desktop {
    flex-wrap: wrap;
    justify-content: center;
  }
  @include media-mobile {
    gap: 40px;
  }
}

.mobile__content {
  align-self: center;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  @include media-desktop {
    justify-content: center;
  }
}

.mobile__buttons {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  & > * {
    padding: 0 20px;
    justify-content: flex-start;
  }
  @include media-mobile {
    flex-wrap: wrap;
  }
}