.mobile {
  display: flex;
  align-items: center;
  gap: 100px;

  @include media-desktop {
    flex-wrap: wrap;
    justify-content: center;
  }

  @include media-mobile {
    gap: 40px;
  }
}

.mobile__content {
  display: flex;
  flex-direction: column;
  align-self: center;
  row-gap: 40px;

  @include media-desktop {
    justify-content: center;
  }
}

.mobile__buttons {
  display: flex;
  justify-content: flex-start;
  gap: 20px;

  & > * {
    justify-content: flex-start;
    padding: 0 20px;
  }

  @include media-mobile {
    flex-wrap: wrap;
  }
}
