.nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-tablet {
    position: fixed;
    top: 100px;
    right: 0;
    z-index: 20;

    width: 100%;
    height: 100vh;
    padding: 60px 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    row-gap: 100px;

    background: $color-background-body;

    opacity: 0;
    visibility: hidden;
    cursor: pointer;
  }

  &_start {
    animation: burger-close 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
  }

  &_active {
    opacity: 1;
    visibility: visible;
    transition: 0.8s ease-in-out;
    animation: burger-open 0.8s ease-in-out;
  }
}

.nav__list {
  margin-left: auto;
  display: flex;
  align-items: center;
  column-gap: 40px;

  @include media-tablet {
    margin-left: unset;
    flex-direction: column;
    row-gap: 60px;
  }
}

.nav__item {
  margin-bottom: 8px;
  @include media-tablet {
    margin-bottom: 0;
  }
}

.nav__link {
  @include media-tablet {
    font-size: 3.2rem;
    line-height: 1.25;
  }
}


.nav__menu {
  margin-left: auto;
  margin-bottom: 8px;

  @include media-tablet {
    margin-bottom: 0;
    margin-left: unset;
    column-gap: 16px;

    & .link__text {
      font-size: 3.2rem;
      line-height: 1.25;
    }
  }
}