.nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;

  @include media-tablet {
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    display: flex;
    overflow: scroll;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    padding: 160px 40px 60px;
    background: $color-background-body;
    opacity: 0;
    row-gap: 100px;
    visibility: hidden;
  }

  &_start {
    animation: burger-close 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
  }

  &_active {
    animation: burger-open 0.8s ease-in-out;
    opacity: 1;
    transition: 0.8s ease-in-out;
    visibility: visible;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  margin-left: auto;
  column-gap: 40px;

  @include media-tablet {
    flex-direction: column;
    margin-left: unset;
    row-gap: 60px;
  }
}

.nav__item {
  margin-bottom: 8px;

  @include media-tablet {
    margin-bottom: 0;
  }
}

.nav__link {
  @include media-tablet {
    font-size: 3.2rem;
    line-height: 1.25;
  }
}

.nav__menu {
  margin-bottom: 8px;
  margin-left: auto;

  @include media-tablet {
    margin-bottom: 0;
    margin-left: unset;
    column-gap: 16px;

    & .link__text {
      font-size: 3.2rem;
      line-height: 1.25;
    }
  }

  &_disabled {
    cursor: default;

    &::after {
      transform: scaleX(1);
    }
  }
}
