$color-text-dark: #403f3d;
$color-text-additional: #333230;
$color-background-light: #e1d4c9;
$color-background-dark: #665f55;
$color-background-backdrop: rgb(64 63 61 / 80%);
$color-black: #000;
$desktop-additional: 1195px;
$tablet: 768px;
$mobile2: 480px;
