$color-text-light: #ffffff;
$color-text-dark:  #403f3d;;
$color-background-light: #e1d4c9;
$color-background-dark: #665f55;
$color-background-backdrop: rgb(64 63 61 / 80%);
$desktop: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile2: 480px !global;
$mobile: 360px;
