@import '../../sass/common/constants';
@import '../../sass/common/placeholders';
@import '../../sass/common/mixins';

.keyboard {
  @extend %flex-center;

  max-width: 436px;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 4px;

  @include media-desktop-additional {
    order: 3;
  }

  @include media-mobile-additional {
    max-width: 374px;
    gap: 2px;
  }
}

.key {
  width: 40px;
  height: 40px;
  padding: 3px;

  @extend %flex-center;

  border-radius: 5px;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #35312a 38deg,
    #6c6964 56deg,
    #6c6964 127deg,
    #3f3c3c 144deg,
    #1d2025 179deg,
    #3f3c3c 217deg,
    #6c6964 230deg,
    #6c6964 300deg,
    #35312a 321deg
  );
  box-shadow:
    0 0 1.5px 0 #000 inset,
    0 0 0.5px 0 #000 inset,
    0 0 1px 0 #000 inset;
  filter: blur(0.2px);

  &:nth-of-type(11) {
    margin-left: 10px;
  }

  &:nth-of-type(19) {
    margin-right: 10px;
  }

  &:has(.key__button:disabled) {
    opacity: 0.65;
  }

  &:has(.key__button:not([disabled]):hover) {
    box-shadow: 0 0 4px 2px #c55a89;
  }

  @include media-mobile-additional {
    width: 34px;
    height: 34px;

    &:nth-of-type(11),
    &:nth-of-type(19) {
      margin: 0;
    }
  }
}

.key__button {
  display: block;
  width: 34px;
  height: 34px;
  border: 1px solid #6c6964;
  border-radius: 5px;
  background: linear-gradient(180deg, #484645 0%, #63615d 7.81%, #aba6a0 100%);
  color: $color-text-additional;

  @include media-mobile-additional {
    width: 30px;
    height: 30px;
  }

  &:disabled {
    cursor: default;
  }

  &:active {
    background: linear-gradient(180deg, #484645 0%, #63615d 7.81%, #524f4c 100%);
  }
}
