@import '../../sass/common/constants';
@import '../../sass/common/mixins';

.game-field {
  display: flex;
  width: 100%;
  max-width: 600px;
  height: calc(100vh - 170px);
  min-height: 440px;
  flex-grow: 2;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  user-select: none;

  :root[theme='dark'] & {
    background: center no-repeat url('../../images/main_dark.webp');
    background-size: contain;

    @media screen and (width <= 480px) {
      border-radius: 50px;
      background: linear-gradient(180deg, var(--color-shadow-dark) 0%, var(--color-shadow-dark) 100%), rgb(0 0 0 / 50%);
    }
  }

  :root[theme='light'] & {
    background: center no-repeat url('../../images/main_light.webp');
    background-size: contain;

    @media screen and (width <= 480px) {
      border-radius: 50px;
      background: linear-gradient(180deg, var(--color-shadow-dark) 0%, var(--color-shadow-dark) 100%), rgb(0 0 0 / 50%);
    }
  }

  &_easy .cell,
  &_easy .clue {
    width: 40px;
    height: 40px;
  }

  &_medium .cell,
  &_medium .clue {
    width: 28px;
    height: 28px;
  }

  &_hard .cell,
  &_hard .clue {
    width: 18px;
    height: 18px;
  }
}

.frame {
  display: flex;
  width: fit-content;
  flex-flow: column wrap;
}

.top-clues {
  display: flex;
  justify-content: flex-end;
}

.top-clues__column {
  display: flex;
  flex-direction: column;

  &:nth-of-type(5n + 1):not(:first-of-type) .clue {
    border-left: 1px solid var(--color-cell-initial);
  }

  &:nth-of-type(5n):not(:last-of-type) .clue {
    border-right: 2px solid var(--color-cell-initial);
  }
}

.game-block {
  display: flex;
}

.play-field {
  display: grid;

  &_easy {
    width: calc(5 * 40px);
    grid-template-columns: repeat(5, 1fr);
  }

  &_medium {
    width: calc(10 * 28px);
    grid-template-columns: repeat(10, 1fr);
  }

  &_hard {
    width: calc(15 * 18px);
    grid-template-columns: repeat(15, 1fr);
  }

  &_blocked {
    pointer-events: none;
  }

  user-select: none;
}

.cell {
  border: 1px solid var(--color-bg-clue);
  background: var(--color-cell-initial);
  user-select: none;

  &_crossed {
    background: center no-repeat #fff url('../../images/cross.svg');
  }

  &_dark {
    background: var(--color-cell-guessed);
  }

  &_solved {
    pointer-events: none;
  }

  .play-field_medium &:nth-of-type(10n + 5) {
    border-right: 2px solid var(--color-main-border);
  }

  .play-field_medium &:nth-of-type(10n + 6) {
    border-left: 1px solid var(--color-main-border);
  }

  .play-field_medium &:nth-of-type(n + 51):nth-of-type(-n + 60) {
    border-top: 1px solid var(--color-main-border);
  }

  .play-field_medium &:nth-of-type(n + 41):nth-of-type(-n + 50) {
    border-bottom: 2px solid var(--color-main-border);
  }

  .play-field_hard &:nth-of-type(5n + 5):not(:nth-of-type(15n)) {
    border-right: 2px solid var(--color-main-border);
  }

  .play-field_hard &:nth-of-type(5n + 6):not(:nth-of-type(15n + 1)) {
    border-left: 1px solid var(--color-main-border);
  }

  .play-field_hard &:nth-of-type(n + 76):nth-of-type(-n + 90),
  .play-field_hard &:nth-of-type(n + 151):nth-of-type(-n + 165) {
    border-top: 1px solid var(--color-main-border);
  }

  .play-field_hard &:nth-of-type(n + 61):nth-of-type(-n + 75),
  .play-field_hard &:nth-of-type(n + 136):nth-of-type(-n + 150) {
    border-bottom: 2px solid var(--color-main-border);
  }
}

.left-clues {
  display: flex;
  width: fit-content;
  flex-direction: column;
}

.left-clues__row {
  display: flex;

  &:nth-of-type(5n + 1):not(:first-of-type) .clue {
    border-top: 1px solid var(--color-cell-initial);
  }

  &:nth-of-type(5n):not(:last-of-type) .clue {
    border-bottom: 2px solid var(--color-cell-initial);
  }
}

.clue {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-main-border);
  background-color: var(--color-bg-clue);
  color: var(--color-bg-button);

  @include font(1.8rem, 900, 1.05);

  .game-field_hard & {
    @include font(1.3rem, 900, 1.05);
  }
}
