@import '../../sass/common/constants';
@import '../../sass/common/mixins';

.game-field {
  display: flex;
  width: 100%;
  max-width: 600px;
  height: calc(100vh - 170px);
  min-height: 440px;
  flex-grow: 2;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;

  :root[theme='dark'] & {
    background: center no-repeat url('../../images/main_dark.webp');
    background-size: contain;

    @media screen and (width <= 480px) {
      border-radius: 50px;
      background: linear-gradient(180deg, var(--color-shadow-dark) 0%, var(--color-shadow-dark) 100%), rgb(0 0 0 / 50%);
    }
  }

  :root[theme='light'] & {
    background: center no-repeat url('../../images/main_light.webp');
    background-size: contain;

    @media screen and (width <= 480px) {
      border-radius: 50px;
      background: linear-gradient(180deg, var(--color-shadow-dark) 0%, var(--color-shadow-dark) 100%), rgb(0 0 0 / 50%);
    }
  }
}

.game-field__container {
  display: flex;
  width: fit-content;
  flex-flow: column wrap;
}

.top-clues {
  display: flex;
  justify-content: flex-end;
  border: 3px solid var(--color-main-border);
  border-bottom: none;
}

.top-clues__column {
  display: flex;
  flex-direction: column;

  &:nth-of-type(5n + 1):not(:first-of-type) .clue {
    border-left: 1px solid var(--color-cell-initial);
  }

  &:nth-of-type(5n):not(:last-of-type) .clue {
    border-right: 2px solid var(--color-cell-initial);
  }
}

.game-field__row {
  display: flex;

  &:first-of-type {
    justify-content: flex-end;
  }
}

.play-field {
  display: grid;
  border: 3px solid var(--color-main-border);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;

  &_easy {
    grid-template-columns: repeat(5, 1fr);
  }

  &_medium {
    grid-template-columns: repeat(10, 1fr);
  }

  &_hard {
    grid-template-columns: repeat(15, 1fr);
  }

  &_blocked {
    pointer-events: none;
  }
}

.left-clues {
  display: flex;
  width: fit-content;
  flex-direction: column;
  border: 3px solid var(--color-main-border);
  border-right: none;
}

.left-clues__row {
  display: flex;

  &:nth-of-type(5n + 1):not(:first-of-type) .clue {
    border-top: 1px solid var(--color-cell-initial);
  }

  &:nth-of-type(5n):not(:last-of-type) .clue {
    border-bottom: 2px solid var(--color-cell-initial);
  }
}

.clue {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-main-border);
  background-color: var(--color-bg-clue);
  color: var(--color-bg-button);

  @include font(1.8rem, 900, 1.05);

  .game-field_easy & {
    width: 40px;
    height: 40px;
  }

  .game-field_medium & {
    width: 28px;
    height: 28px;
  }

  .game-field_hard & {
    @include font(1.3rem, 900, 1.05);
    width: 18px;
    height: 18px;
  }
}
