@import '../../sass/common/constants';
@import '../../sass/common/placeholders';
@import '../../sass/common/mixins';

.header {
  width: 100%;
  height: 12vh;
  justify-content: space-between;
  padding: 15px 40px;
  background-color: $color-background-dark;
  color: $color-text-additional;

  @extend %flex-center;

  @include media-tablet {
    height: 8vh;
    padding: 15px 20px;
  }
}

.header__link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;

  @extend %transition;

  .header__span {
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $color-text-additional;
      content: '';
      transform: scaleX(0);
      transform-origin: left;

      @extend %transition;
    }
  }

  @include media-hover {
    &:hover {
      transition: all 0.5s ease-out;

      .header__img {
        filter: drop-shadow(3px 5px 5px $color-black);
      }

      .header__span {
        &::after {
          transform: scale(1);
        }
      }
    }
  }

  &:active {
    opacity: 0.7;
  }
}
