@import '../../sass/common/constants';

$width-cell: 40px;

.game-field {
  width: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.top-clues {
  display: flex;
  justify-content: flex-end;
}

.top-clues__column {
  display: flex;
  flex-direction: column-reverse;
}

.game-block {
  display: flex;
}

.play-field {
  display: grid;
  background-color: $color-cell;

  &_easy {
    width: calc(5 * $width-cell);
    grid-template-columns: repeat(5, 1fr);
  }
  &_medium {
    width: calc(10 * $width-cell);
    grid-template-columns: repeat(10, 1fr);
  }
  &_hard {
    width: calc(15 * $width-cell);
    grid-template-columns: repeat(15, 1fr);
  }
}

.cell  {
  background: transparent;
  border: 1px solid $color-clue;
  width: $width-cell;
  height: $width-cell;

  &_dark {
    background: $color-dark-cell;
  }

  &_crossed {
    background: center no-repeat url("../../images/cross.svg");
  }
}

.left-clues {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.left-clues__row {
  display: flex;
  flex-direction: row-reverse;
}

.clue {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-clue;
  border: 1px solid $color-cell;
  width: $width-cell;
  height: $width-cell;
}