@import '../../sass/common/constants';
@import '../../sass/common/placeholders';

.modal {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: $color-background-backdrop;

  &_active {
    display: flex;
  }
}

.final {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 30px;
  border-radius: 20px;
  background-color: aqua;
  column-gap: 20px;
}