*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Overlock', sans-serif;
  scroll-behavior: smooth;
}

body {
  :root[theme='dark'] & {
    background: center no-repeat url('../images/bg_dark.jpg');
    background-size: cover;
  }
  :root[theme='light'] & {
    background: center no-repeat url('../images/bg_light.jpg');
    background-size: cover;
  }
}

h1 {
  @include font(5rem, 900, 1.05);
  color: var(--color-primary);
}
