.btn {
  background-color: var(--color-bg-button);
  @include font(2rem, 900, 1.05);
  color: var(--color-bg-clue);
  border-radius: 5px;
  @extend %transition;

  &:active {
    opacity: 0.7;
    filter: drop-shadow(2px 3px 3px var(--color-shadow-dark));
  }

  &:has(img) {
    font-size: 0;
  }
}