:root[theme='dark'] {
  --color-primary: #360e40;
  --color-bg-button: #2e2448;
  --color-button-active: #df99fc;
  --color-background-backdrop: rgb(64 63 61 / 80%);

  --color-cell-initial: #360e40;
  --color-cell-guessed: #ffffff;
  --color-bg-clue: #d26efb;
  --color-main-border: #e9cbe3;
  --color-shadow-first: rgba(256, 256, 256, 0.4);
  --color-shadow-second: rgba(0, 0, 0, 0.4);
}

:root[theme='light'] {
  --color-primary: #baa2b5;
  --color-bg-button: #283d14;
  --color-button-active: #f3fbd2;
  --color-background-backdrop: rgb(64 63 61 / 80%);

  --color-cell-initial: #ffffff;
  --color-cell-guessed: #000000;
  --color-bg-clue: #baa2b5;
  --color-main-border: #745d4d;
  --color-shadow-first: rgba(256, 256, 256, 0.4);
    --color-shadow-second: rgba(0, 0, 0, 0.4);
}

$tablet: 768px;
$mobile: 480px
