$color-dark-cell: #33322e;
$color-primary-dark: #360e40;
$color-main-border: #e9cbe3;
$color-bg-clue: #d26efb;
$color-cell-separator: #baa2b5;
$color-clue-separator: #360e40;
$color-background-backdrop: rgb(64 63 61 / 80%);
$color-cell-black: #000000;
$color-cell-white: #ffffff;
$tablet: 768px;
$mobile: 480px
