$color-text-accent: #b0907a;
$color-text-light: #e1d4c9;
$color-text-dark: #403f3d;
$color-background-body: #e1d4c9;
$color-background-container: #665f55;
$color-background-backdrop: rgb(64 63 61 / 80%);
$color-border-light: #c1b6ad;
$color-border-dark: #665f55;
$desktop: 1440px;
$desktop2: 1280px;
$laptop: 1024px;
$tablet: 768px;
$tablet2: 720px;
$mobile: 480px;
