$color-text-accent: #B0907A;
$color-text-light: #E1D4C9;
$color-text-dark: #403F3D;
$color-background-body: #E1D4C9;
$color-background-container: #665F55;
$color-background-backdrop: rgba(64, 63, 61, 0.80);
$color-border-light: #C1B6AD;
$color-border-dark: #665F55;

$desktop: 1440px;
$desktop2: 1280px;
$laptop: 1024px;
$tablet: 768px;
$tablet2: 720px;
$mobile: 480px;