@mixin font-face($font_name, $file_path, $weight, $style) {
  @font-face {
    font-family: $font_name;
    src: url("../fonts/#{$file_path}.woff2") format("woff2");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@mixin font($font_family, $font-size, $font-weight, $line-height, $letter-spacing: normal, $text-transform: none) {
  font-family: $font_family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  text-transform: $text-transform;
}

@mixin media-hover-start {
  @media (min-width: $hover-start) {
    @content;
  }
}

@mixin media-desktop {
  @media (max-width: $desktop2) {
    @content;
  }
}

@mixin media-laptop {
  @media (max-width: $laptop) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin media-tablet-additional {
  @media (max-width: $tablet2) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $mobile) {
    @content;
  }
}