@import '../../sass/common/constants';
@import '../../sass/common/placeholders';
@import '../../sass/common/mixins';

.question-block {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;

  @include media-desktop-additional {
    order: 2;
  }
}

.question-block__counter {
  color: #893e5f;
}

.question-block__letters {
  display: flex;
  gap: 5px;
}

.letter {
  @extend %flex-center;

  width: 35px;
  height: 35px;
  border-bottom: 1px solid black;
  background-color: transparent;
  font-size: 2rem;

  &_guessed {
    border-bottom: none;
  }

  @include media-mobile-additional {
    width: 5vw;
    height: 5vw;
    font-size: 1.8rem;
  }
}
