@import '../../sass/common/constants';
@import '../../sass/common/placeholders';

.question-block {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.question-block__question {
  color: $color-text-dark;
}

.question-block__counter {
  color: $color-text-dark;
}

.question-block__letters {
  display: flex;
  gap: 5px;
}

.letter {
  @extend %flex-center;
  width: 35px;
  height: 35px;
  font-size: 2rem;
  background-color: transparent;
  border-bottom: 1px solid black;

  &_guessed {
    border-bottom: none;
  }
}