@import '../../sass/common/constants';
@import '../../sass/common/mixins';

.hangman {
  position: relative;
  width: 220px;
  height: 397px;

  @include media-desktop-additional {
    order: 1;
  }

  @include media-mobile-additional {
    width: 110px;
    height: 199px;
  }
}

.hangman__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 220px;
  height: 397px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.5s ease-out;

  &_seen {
    opacity: 1;
  }

  @include media-mobile-additional {
    width: 110px;
    height: 199px;
    background-size: contain;
  }
}
