@import '../../sass/common/placeholders';
@import '../../sass/common/constants';
@import '../../sass/common/mixins';

.header {
  position: relative;
  width: 100%;
  height: 60px;
  backdrop-filter: blur(12.5px);

  :root[theme='dark'] & {
    background: var(--color-shadow-dark);
  }

  :root[theme='light'] & {
    background: rgb(0 0 0 / 60%);
  }
}

.header__wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  gap: 20px;
}

.header__logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.nav {
  position: absolute;
  z-index: 20;
  top: 100px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;

  // transition: 0.3s ease-in-out;
  animation: burger-close 0.3s ease-in-out;
  opacity: 0;
  row-gap: 10px;
  visibility: hidden;

  :root[theme='dark'] & {
    background: linear-gradient(180deg, var(--color-shadow-dark) 0%, var(--color-shadow-dark) 100%),
      rgb(223 153 252 / 50%);
  }

  :root[theme='light'] & {
    background: linear-gradient(180deg, var(--color-shadow-dark) 0%, var(--color-shadow-dark) 100%),
      rgb(243 251 210 / 50%);
  }

  &_active {
    animation: burger-open 0.3s ease-in-out;
    opacity: 1;

    // transition: 0.3s ease-in-out;
    visibility: visible;
  }
}

.nav__button {
  padding: 5px;
  background: #2e2448;

  @include media-hover {
    &:hover {
      filter: drop-shadow(2px 3px 3px var(--color-shadow-light));
    }
  }
}

.nav__img {
  display: block;
  width: 30px;
  height: 30px;

  &_settings {
    :root[theme='dark'] & {
      background: center no-repeat url('../../images/settings_dark.svg');
    }

    :root[theme='light'] & {
      background: center no-repeat url('../../images/settings_light.svg');
    }
  }

  &_volume {
    :root[theme='dark'] & {
      background: center no-repeat url('../../images/unmuted_dark.svg');
    }

    :root[theme='dark'] .nav__button_volume_muted & {
      background: center no-repeat url('../../images/muted_dark.svg');
    }

    :root[theme='light'] & {
      background: center no-repeat url('../../images/unmuted_light.svg');
    }

    :root[theme='light'] .nav__button_volume_muted & {
      background: center no-repeat url('../../images/muted_light.svg');
    }
  }
}

.switcher {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.switcher__label {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}

.switcher__input {
  width: 0;
  height: 0;
  opacity: 0;
}

.switcher__round {
  position: absolute;
  border-radius: 34px;
  background-color: var(--color-primary);
  cursor: pointer;
  inset: 0;

  @extend %transition;
}

.switcher__round::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: auto 0;
  background: center no-repeat #df99fc url('../../images/night.png');
  content: '';

  @extend %transition;
}

.switcher__input:checked + .switcher__round {
  background-color: #283d14;
}

.switcher__input:checked + .switcher__round::before {
  background: center no-repeat #baa2b5 url('../../images/sun.png');
  background-position: center;
  background-repeat: no-repeat;
  transform: translateX(20px);
}
