.footer {
  @extend %container;

  padding: 0 40px;
  margin-bottom: 40px;

  @include media-mobile {
    padding: 0 16px;
  }
}

.footer__title {
  color: $color-text-light;
}

.footer__content {
  display: grid;
  padding: 100px;
  border-radius: 40px;
  background-color: $color-background-container;
  gap: 100px;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @include media-desktop {
    padding: 100px 60px;
  }

  @include media-laptop {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  @include media-mobile {
    padding: 60px 16px;
    gap: 40px;
  }
}

.footer__social {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 12px;

  & > .link {
    width: 60px;
    height: 60px;
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-self: center;
  row-gap: 40px;

  & > * {
    color: $color-text-light;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  & > * {
    width: fit-content;
  }
}

.contacts__hours {
  display: flex;

  @include font('Inter-Medium-Normal', 1.6rem, 600, 1.5);

  color: $color-text-light;
}
