.header {
  @extend %container;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-size: 0;
}

.nav__list {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.nav__item {
  margin-bottom: 8px;
}

.header__link {
  margin-bottom: 8px;
}