@import '../../sass/common/constants';
@import '../../sass/common/placeholders';
@import '../../sass/common/mixins';

.modal_win {
  .modal__buttons {
    display: flex;
    gap: 20px;
  }

  .modal__button {
    padding: 10px 15px;

    @include media-hover {
      &:hover {
        filter: drop-shadow(3px 5px 5px rgb(0 0 0 / 60%));
      }
    }
  }
}
