@keyframes burger-close {
  0% {
    background-color: $color-background-body;
    transform: translateX(0);
  }

  100% {
    background-color: $color-text-dark;
    transform: translateX(100%);
  }
}

@keyframes burger-open {
  0% {
    background-color: $color-text-dark;
    transform: translateX(100%);
  }

  100% {
    background-color: $color-background-body;
    transform: translateX(0);
  }
}
