.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  @include font("Inter-Medium-Normal", 1.6rem, 600, 1.5);
  color: $color-text-dark;
  border-radius: 100px;

  &_primary {
    width: 200px;
    padding: 20px 78px;
    background-color: $color-background-body;
  }
}