.link {
  position: relative;
  @include font("Inter-Medium-Normal", 1.6rem, 600, 1.5);
  color: $color-text-dark;
  @extend %transition;

  &_centered {
    @extend %flex-center;
    column-gap: 8px;
  }

  &_long {
    width: 200px;
    height: 64px;
  }

  &_bordered {
    border-radius: 100px;
    border: 1px solid $color-border-light;

    @include media-hover {
      &:hover {
        border: none;
        background: $color-background-body;
      }
    }
  }

  &_usual {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 2px;
      background-color: $color-text-dark;
      transform-origin: center;
      transform: scaleX(0);
      @extend %transition;
    }

    @include media-hover {
      &:hover {
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }

  &_light {
    color: $color-text-light;
    &::after {
      background-color: $color-text-light;
    }
  }

  &_primary {
    position: relative;
    border-radius: 100px;
    background-color: $color-background-body;

    & .link__text {
      position: relative;
      left: 15px;
    }

    @include media-hover {
      &:hover .link__text{
        left: 0;
      }
    }

    @include media-tablet {
      .link__text{
        left: 0;
      }
    }
  }

  &_dark {
    border-radius: 100px;
    border: 1px solid $color-border-dark;

    @include media-hover {
      &:hover {
        background: $color-background-container;
      }
    }
  }

  &:active {
    opacity: 0.6;
  }
}

.link__text {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  @include font("Inter-Medium-Normal", 1.6rem, 600, 1.5);
  @extend %transition;
  & > * {
    @extend %transition;
  }

  @include media-hover {
    .link_dark:hover &,
    .link_dark:hover & > span {
      color: $color-text-light;
    }
  }
}
