.logo__svg {
  width: 100px;
  height: 60px;
}

.cup__svg {
  width: 20px;
  height: 20px;
  align-self: flex-start;

  @include media-tablet {
    width: 40px;
    height: 40px;
  }
}

.arrow-svg {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: $color-border-dark;

  @extend %transition;

  @include media-hover {
    .btn_dark:hover & {
      stroke: $color-text-light;
    }
  }
}

.mobile-svg {
  width: 36px;
  height: 36px;
  fill: $color-border-dark;

  @extend %transition;

  @include media-hover {
    .link_dark:hover & {
      fill: $color-text-light;
    }
  }
}

.social-svg {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: $color-text-light;

  @extend %transition;

  @include media-hover {
    .link_bordered:hover & {
      stroke: $color-text-dark;
    }
  }
}

.enjoy__svg {
  width: 20px;
  height: 20px;
  opacity: 0;
  visibility: hidden;

  @extend %transition;

  @include media-hover {
    .link:hover & {
      opacity: 1;
      visibility: visible;
    }
  }

  @include media-tablet {
    opacity: 1;
    visibility: visible;
  }
}

.contacts__svg {
  width: 20px;
  height: 20px;
  align-self: flex-start;
}

.menu__svg {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: $color-text-dark;

  @include media-hover {
    .btn_dark:hover & {
      stroke: $color-text-light;
    }
  }
}
